html {
    background: url(/images/background.jpg) no-repeat top center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#all {
    padding: 1em;
    background-color: white;
    opacity: 0.85;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    filter: alpha(opacity=85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85; 
}
 
#date {
    color: blue;
}

#footer {
    margin-top: 2em;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    text-align: center;
}

#header h1 {
    font-family: 'Medula One', serif;
    font-size: 3em;
    line-height: 1.4;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

h2 {
    font-weight: bold;
}

p,h2,li {
    font-family: 'ABeeZee', sans-serif;
    font-size: 0.9em;
    line-height: 1.9;
}

#footer>p {
    font-size: 75%;
}

img {
    max-width: 90%;
}

.highlight {
    overflow: auto;
}


@media (min-width: 48rem) {
    #all {
        width: 45em;
        margin: 0 auto;
    }

    #header h1 {
        background: url(http://www.gravatar.com/avatar/6a25f5528a714a4df8d81b177ad2f8f5) no-repeat right top;
    }
}

