<html>
    <head>
        <title>{{ page.title }}</title>
        <style>
            <!-- @import 'http://fonts.googleapis.com/css?family=Medula+One'; -->
            <!-- @import 'http://fonts.googleapis.com/css?family=ABeeZee'; -->
            <!-- @import '/css/default.css'; -->
        </style>
    </head>
    <body>
        <div id="all">
            <h1>{{ page.title }}</h1>
            <p>Return to the <a href="/">main page</a></p>
            <p><a href="http://nanowrimo.org/en/participants/scroog1/novels/jack-in-wonderland/stats"><img src="http://www.nanowrimo.org/widget/LiveSupporter/scroog1.png"/></a></p>
            {{ content }}
            <div id="footer">
                <p>Copyright &copy; Mark Withall 2012</p>
            </div>
        </div>
    </body>
</html>

