<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <meta name="viewport" content="initial-scale=1">
        <title>{{ page.title }}</title>
        <link rel="alternate" type="application/rss+xml" title="markwithall.com Feed" href="http://markwithall.com/atom.xml" />
        <meta name="description" content="My personal webpage and blog about software engineering, writing, music, films, reading, travel and whatever else I get up to"/>
        <meta name="keywords" content="programming,writing,NaNoWriMo,music,blog"/>
        <meta name="author" content="Dr Mark Withall BSc (hons) PhD"/>
        <style type="text/css">
            <!-- @import 'http://fonts.googleapis.com/css?family=Medula+One'; -->
            <!-- @import 'http://fonts.googleapis.com/css?family=ABeeZee'; -->
            <!-- @import '/css/default.css'; -->
{% for css in page.extra_styles %}
            <!-- @import '/css/{{css}}'; -->
{% endfor %}
        </style>
{% for js in page.javascript %}
        <script type="text/javascript" src="{{js}}"></script>
{% endfor %}
    </head>
    <body>
        <div id="all">
            <div id="header">
                <h1>{{ page.title }}</h1>
            </div>
            <div id="content">
            {{ content }}
            </div>
            <div id="links">
            <p>Return to the <a href="/">main page</a></p>
            <p><a href="/me.html">Other me on the Internet</a></p>
            <p><a href="http://markwithall.com/atom.xml"><img src="/images/feed.png" alt="RSS Feed"/></a></p>
            <p><a href="http://nanowrimo.org/en/participants/scroog1/novels/jack-in-wonderland/stats"><img src="http://www.nanowrimo.org/widget/LiveSupporter/scroog1.png" alt="NaNoWriMo"/></a></p>
            </div>
            <div id="footer">
                <p>Copyright &copy; Mark Withall 2012.  All rights reserved.</p>
                <script type="text/javascript">
                    var _gaq = _gaq || [];
                    _gaq.push(['_setAccount', 'UA-36642149-1']);
                    _gaq.push(['_trackPageview']);

                    (function() {
                        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                    })();
                </script>
            </div>
        </div>
    </body>
</html>

