<html>
    <head>
        <title>{{ page.title }}</title>
        <style>
            <!-- @import 'http://fonts.googleapis.com/css?family=Medula+One'; -->
            <!-- @import 'http://fonts.googleapis.com/css?family=ABeeZee'; -->
            <!-- @import '/css/default.css'; -->
            <!-- @import '/css/syntax.css'; -->
        </style>
    </head>
    <body>
        <div id="all">
            <h1>{{ page.title }}</h1>
            <p><a href="http://markwithall.com/atom.xml"><img src="/images/feed.png" alt="RSS Feed"/></a></p>
            <p>Return to the <a href="/">main page</a></p>
            <p><a href="http://nanowrimo.org/en/participants/scroog1/novels/jack-in-wonderland/stats"><img src="http://www.nanowrimo.org/widget/LiveSupporter/scroog1.png"/></a></p>
            {{ content }}
            <div id="footer">
                <p>Copyright &copy; Mark Withall 2012.  All rights reserved.</p>
                <script type="text/javascript">
                    var _gaq = _gaq || [];
                    _gaq.push(['_setAccount', 'UA-36642149-1']);
                    _gaq.push(['_trackPageview']);

                    (function() {
                        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                    })();
                </script>
            </div>
        </div>
    </body>
</html>

